<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kaizhiwei.puremusictest">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.intent.action.HEADSET_PLUG" />
    <uses-permission android:name="android.intent.action.MEDIA_BUTTON" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    1

    <application
        android:name=".PureMusicApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/mpeg" />
            </intent-filter>
        </activity>
        <activity android:name=".Welcome.WelcomeActivity" />
        <activity android:name=".ScanMedia.ScanSongActivity" />

        <service android:name=".Service.PlaybackService" />

        <activity
            android:name=".HomePage.HomeActivity"
            android:configChanges="orientation|screenLayout"
            android:label="@string/title_activity_home"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ScanMedia.ScanMediaActivity"
            android:label="@string/title_activity_scan_media"
            android:configChanges="orientation|screenLayout"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ScanMedia.ScanMediaFilterSetActivity"
            android:configChanges="orientation|screenLayout"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ScanMedia.ScanSelectFolderActivity"
            android:configChanges="orientation|screenLayout"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ScanMedia.ScanMediaResultActivity"
            android:configChanges="orientation|screenLayout"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Audio.BatchMgrAudioActivity"
            android:configChanges="orientation|screenLayout"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".PlayingDetail.PlayingActivity"
            android:configChanges="orientation|screenLayout"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".HomePage.TestActivity"
            android:configChanges="orientation|screenLayout"
            android:screenOrientation="portrait"
            android:launchMode="standard"/>

        <activity android:name=".HomePage.FavoriteEditInfoActivity"
            android:configChanges="orientation|screenLayout"
            android:screenOrientation="portrait"
            android:launchMode="standard"/>

        <activity android:name=".NetAudio.AlbumMainFragment"
            android:configChanges="orientation|screenLayout"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".NetAudio.tuijian.ArtistSelActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".NetAudio.tuijian.ArtistArtistListActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".NetAudio.tuijian.ArtistSongListActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".NetAudio.tuijian.ArtistAlbumInfoActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".NetAudio.tuijian.HotArtistActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".NetAudio.tuijian.SongCategaryActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".NetAudio.tuijian.TagSongListActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".NetAudio.gedan.GeDanSongListActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".NetAudio.bangdan.BangDanSongListActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".NetAudio.video.PlayMvActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>